* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.sidebar__container {
    height: 120vh;
    width: 90%;
    border: 1px solid #EFF2F7;
    background-color: #FFFFFF;
}

.sidebar__logo {
    margin-top: 50px;
    margin-left: 30px;
    
}

.sidebar__icons {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    padding-top: 60px;
}

.sidebar__icons .dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 3px;
    padding-top: 30px;
}

.sidebar__icons .dashboard :hover {
    cursor: pointer;
}

.sidebar__icons .dashboard p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #979AA5;
}

.sidebar__icons .activity {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    margin-bottom: 20px;
}

.sidebar__icons .activity :hover {
    cursor: pointer;
}

.sidebar__icons .activity p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #979AA5;
}

.sidebar__icons .wallet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 12px;
}

.sidebar__icons .wallet :hover {
    cursor: pointer;
}

.sidebar__icons .wallet p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #006156;
}

.wallet {
    height: 48px;
    width: 192px;
    border-radius: 24px;
    background-color: #FFEEA7;
}

.sidebar__icons .product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

.sidebar__icons .product :hover {
    cursor: pointer;
}

.sidebar__icons .product p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #979AA5;
}

.sidebar__icons .referrals {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

.sidebar__icons .referrals :hover {
    cursor: pointer;
}

.sidebar__icons .referrals p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #979AA5;
}

 .help{
    position: absolute;
    top: 110%;
    left: 3%;
}

.help p {
    padding-left: 39px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #979AA5;
    margin-top: -25px;
}